*{font-family: 'Lato', sans-serif;}
body{overflow: hidden; background: #b71c1c;
  min-height: 100vh;
}
#content-box-search{
  position: absolute;
  left: 10%;
  right: 10%;
  width:80%;
  min-height: 100px;
  margin-top: 40vh;
  padding: 25px;
  background-color: #f5f5f6;
  z-index: 99999;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.panel-body {
    padding-top: 186px;
}
.well.well-sm.media{
  min-height: 316px;
  box-shadow: 0px 0px 10px #000;
  border-radius: 0px;
}
.set-margintop{
  margin-top: 74px !important;
  position: fixed !important;
}
.block{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: #b71c1c;
  z-index: 999;
}
h1{
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  padding: 25px;
  background-color: #7f0000;
  text-align: center;
  margin-top: 0;
  font-weight: 900;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFF;
  z-index: 9999;
}
h1 span{
  font-weight: 400;
}
.btn{
  background-color: #7f0000;
  color: #FFF;
  font-weight: 400;
  font-style: italic;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.btn:hover{
  opacity: 0.7;
  background-color: #f05545;
  color: #FFF;
}
.overflow{
  overflow: auto;
}
.none{
  display: none;
}
form .btn{
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 250px;
  margin-top: 15px;
}
.well{
  background-color: #7f0000;
  border: 0;
  border-radius: 0px;
}
a.thumbnail.pull-left {
  position: relative;
  float: left !important;
  width: 100%;
}
.thumbnail.pull-left img {
  width: 60%;
  display: block;
  margin: 0 auto;
  }.thumbnail{
    background-color: transparent;
    border-radius: 0px !important;
    border: 0px;
  }
  a.ng-binding {
    color: #FFF;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    text-decoration: none;
    -webkit-transition: 1s;
    transition: 1s;
    min-height: 60px;
    font-size: 18px;
}
  a.ng-binding:hover{
    opacity: 0.7;
  }
  p {
    position: relative;
    float: left;
    width: 100%;
    font-weight: 400;
    font-style: italic;
    color: #FFF;
    font-size: 15px;
}
.label-info {
    background-color: #b71c1c !important;
}
.hidden{
	opacity: 0;
}

.visible{
	opacity: 1;
}
  @media (max-width:1080px){

  }
