  <h1><span>Teste</span> MadeInWeb</h1>
<div class="block">



</div>
<search-box></search-box>
<pagination></pagination>
<div ng-if="checkDataLength(youtubeData)">
  <div class="panel-body container">
    <div class="col-md-8 col-md-offset-2">
    <div class="col-sm-6 col-lg-6 col-md-6 post" ng-repeat="data in youtubeData">
      <div class="well well-sm media">
        <a class="thumbnail pull-left" target="_block" href="https://www.youtube.com/watch?v={{data.id.videoId}}">
          <img alt="{{data.snippet.title}}" src="{{data.snippet.thumbnails.default.url}}">
        </a>
        <div class="media-body">
          <a target="_block" href="https://www.youtube.com/watch?v={{data.id.videoId}}">{{data.snippet.title}}</a>
          <p>Canal: <span class="label label-info">{{data.snippet.channelTitle}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
