<div id="content-box-search">
	 <form class="form">
	  	<input type="search" ng-model="youtubeSearchText" ng-change="getYoutubeData(youtubeSearchText)" name="hyv-search" id="hyv-search" placeholder="Digite o nome do vídeo" class="ui-autocomplete-input form-control input-lg search" autocomplete="off">
			<button type="button" class="btn" name="button" disabled>Ver resultados</button>

	</form>
</div>

<script>

$( ".search" ).keyup(function() {
	$(".btn").prop("disabled", !this.value);
});


$(document).ready(function(){
    $(".btn").click(function(){
        $("#content-box-search").addClass("set-margintop")
        $("body").addClass("overflow")
        $(".block").addClass("none")

    });
});

</script>
